body {
    color: #222;
    font-family: 'Montserrat';
    background-color: #fff;
}



/* TEST CARLOS */

.wp-site-blocks:before {

}

/***** HEADER *****/


/*** LOGO ***/
.wp-block-site-logo img {
    transform: scale(1.5);
}

/*** NAV ***/
.wp-site-blocks > header.wp-block-template-part {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}
    .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
        color: #222;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
    }
        .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content:hover {
            color: #E42C2A !important;
            text-decoration: none;
        }


/***** CONTENT *****/

/*** TITLES ***/

h2.wc-title {
    position: relative;
    font-weight: 400;
}
    h2.wc-title:before {
        position: absolute;
        content: '';
    }
    h2.wc-title strong {
        position: relative;
        font-weight: 400;
    }

/*** BLOCKS ***/
.wc-hero-block {


    background-image: url(https://vigo.wordcamp.org/2024/files/2024/02/2024.png);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    background-size: contain;
}
