body {
    color: #222;
    font-family: 'Montserrat';
    background-color: #fff;
}



/* TEST CARLOS */

/***** HEADER *****/

/*** LOGO ***/
.wp-block-site-logo img {
    /*transform: scale(1.5);*/
}

/*** NAV ***/
.wp-site-blocks > header.wp-block-template-part > .wp-block-group {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent!important;
    z-index: 100;
}
        .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content:hover {
            color: #fff!important;
            text-decoration: none;
        }


/***** CONTENT *****/

/*** TITLES ***/



/*** BLOCKS ***/

/** WELCOME HOME **/
.wcv-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** INFO HOME **/
.wcv-info {
    position: relative;
    margin-top: -250px!important;
}

/** PROGRAMA HOME **/

.wcv-programa-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap!important;
    gap: 42px!important;
}
    .wcv-programa-columns > .wp-block-column.wcv-programa-column-24,
    .wcv-programa-columns > .wp-block-column.wcv-programa-column-26 {
        flex-basis: calc( 35% - 28px); 
    }
    .wcv-programa-columns > .wp-block-column.wcv-programa-column-25 {
        flex-basis: calc( 35% - 28px);
    }
    .wcv-programa-columns > .wp-block-column.wcv-programa-column-icon {
        flex-basis: calc( 30% - 28px);
    }


/** EL EVENTO HOME */
.wcv-elevento .wp-block-column .wp-block-image {
    width: 100%;
    height: 100%;
}
    .wcv-elevento .wp-block-column .wp-block-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

/** CON V DE VIGO HOME **/
.wcv-conv {
    position: relative;
    overflow: hidden;
}
.wcv-conv:before {
    position: absolute;
    left: 50%;
    bottom: -3vw;
    line-height: 1;
    transform: translate(-50%, 0);
    content: 'CON V DE VIGO';
    color: rgba(255, 255, 255, 0.3);
    font-size: 13vw;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}


